
@{
    ViewBag.Title = "Index";
}

<div >
    @Html.ActionLink("POST LEFT VALUE", "PostLeft")
</div>
<br/>

<div >
    @Html.ActionLink("POST RIGHT VALUE", "PostRight")
</div>
<br/>
<div >
    @Html.ActionLink("CHECK RESULTS", "CheckResults")
</div>

